.search-page{
  display: none;
  background-color: #808080;
  padding: 5%;
  position: relative;
}

.search-page.open{
  display: block;
  background-color: #808080;
}

#search{
  padding: 1vw;
  width: 60%;
  margin: auto;
  display: block;
}

.closeBtn{
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  color: rgb(189, 189, 189);
}

.searchBtn2{
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
 color: rgb(189, 189, 189);
}

